{deps, [
    {graphql, {git, "git@github.com:shopgun/graphql-erlang.git", {branch, "develop"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.


{relx, [
  {release, {sw, "1.0.0"}, [
    sw_core,
    sw_web
  ]},

  {dev_mode, false},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {overlay, [
        {mkdir, "db"},
	    {mkdir, "log"},
	    {mkdir, "log/sasl"},

        {copy, "{{root_dir}}/db/FALLBACK.BUP",
               "{{output_dir}}/db/FALLBACK.BUP"}
    ]},   
  {extended_start_script, true}]}.
            
