[
    {sw_core, []}

    %% Lager configuration.
    {lager, [
        {log_root, "./"},

        % Console colors.
        {colored, true},

        % Log handlers configuration.
        {handlers, [
            {lager_console_backend, info},
            
            % Error logging.
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {date, "$D0"},
                {size, 10485760},
                {count, 5}
            ]},

            % Info logging.
            {lager_file_backend, [
                {file, "console.log"},
                {level, info},
                {date, "$D0"},
                {size, 10485760},
                {count, 5}
            ]},

            % Debug logging.
            {lager_file_backend, [
                {file, "debug.log"},
                {level, debug},
                {date, "$D0"},
                {size, 10485760},
                {count, 5}
            ]}
        ]}
    ]},

    %% SASL configuration.
    {sasl, [
        % Log file.
        {sasl_error_logger, {file, "log/sasl-error.log"}},

        % Log type.
        {errlog_type, error},

        % Log directory.
        {error_logger_mf_dir, "log/sasl"},

        % 10 MB max file size.
        {error_logger_mf_maxbytes, 10485760},

        % 5 files max.
        {error_logger_mf_maxfiles, 5}
    ]}
].

